*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    background: #fa0ada;
}
.calculator{
    width: 370px;
    background:#fffdfd;
    color:#dc5e0a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 10px;
    padding: 1rem;
    font-weight: bold;
    box-shadow: 3px 3px 3px #ff0707,
                -3px -3px 3px #1750d5;




}
.output{
    font-size: 3.4rem;
    text-align: right;
    padding-top: 1.5rem ;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    border: none;
    display: block;
    outline: none;
    background: transparent;
    color: #2400f3;
    box-shadow: inset 3px 3px 3px #f16bea,
                inset -3px -3px -3px  #d0d8ed;

}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3px;

}
.key{
    background: #ded4d4 ;
    border: none;
    font-size: 1.5rem;
    border: none;
    color: #f70c0c;
    width: 70px;
    height: 70px;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 3px 3px 3px #0fa33b,
                -3px -3px 3px #e2e5eb;

}
.key:active,
.key:focus{
    background: #002da0;
    box-shadow: inset 3px 3px 3px #a76a39 ,
                inset -3px -3px 3px #aa35aa;

}
.key-op{
    color: rgb(73, 192, 43);
}
.key-ent{
    grid-column: 4 / 5;
    grid-row:2 /span 4;
    height: auto;
    border-radius: 30px;
    color: rgb(66, 65, 6);
    background: #48546e

}
